@page "{SearchTerm?}"
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">

        <thead>
            <tr class="danger">
                <th data-defaultsign="AZ">Name</th>
                <th data-defaultsign="AZ">Location</th>
                <th data-defaultsign="AZ">Cuisine</th>
                <th data-defaultsign="AZ">Options</th>

            </tr>
        </thead>

        <div class="row">
            @foreach (var restaurant in Model.Restaurants)
            {

                <partial name="_Summary" model="restaurant" />

            }
        </div>
        </table>
</div>

<a asp-page="./Edit" class="btn btn-outline-primary">Add New</a>

@section footer {
    <div>@Model.Message</div>
}




